In [2]:
import pandas as pd


a = pd.Series([2, 4, 6, 8])  # pandas 데이터 구조중 하나

print(type(a))
print(a)  # 인덱스와  값 이 순차적으로 나옴

<class 'pandas.core.series.Series'>
0    2
1    4
2    6
3    8
dtype: int64

In [3]:
# List <-- (리스트) : value 값만 갔습니다.
# Series : value, Index


print(a.values)

[2 4 6 8]

In [4]:
print(a.index)

RangeIndex(start=0, stop=4, step=1)

In [5]:
a2 = pd.Series([1, 3, 5, 7], index = ['a','b','c','d'])

print(a2)

a    1
b    3
c    5
d    7
dtype: int64

In [8]:
# Series 보다는 dataFrame이 pandas의 좀더 핵심 자료형
# DataFrame: pandas 에서 제공하고 있는 2차원 표(Table) 형식의 데이터 구조

df = pd.read_csv('wine_csv_data.csv')

df

      alcohol  sugar    pH  class
0         9.4    1.9  3.51    0.0
1         9.8    2.6  3.20    0.0
2         9.8    2.3  3.26    0.0
3         9.8    1.9  3.16    0.0
4         9.4    1.9  3.51    0.0
...       ...    ...   ...    ...
6492     11.2    1.6  3.27    1.0
6493      9.6    8.0  3.15    1.0
6494      9.4    1.2  2.99    1.0
6495     12.8    1.1  3.34    1.0
6496     11.8    0.8  3.26    1.0

[6497 rows x 4 columns]

In [10]:
df.head(3)

   alcohol  sugar    pH  class
0      9.4    1.9  3.51    0.0
1      9.8    2.6  3.20    0.0
2      9.8    2.3  3.26    0.0

In [13]:
df.tail(7) # 꼬리

      alcohol  sugar    pH  class
6490     10.6    0.9  3.24    1.0
6491      9.7    1.3  3.29    1.0
6492     11.2    1.6  3.27    1.0
6493      9.6    8.0  3.15    1.0
6494      9.4    1.2  2.99    1.0
6495     12.8    1.1  3.34    1.0
6496     11.8    0.8  3.26    1.0

In [14]:
df[2:5]   # 2이상 5미만 (2,3,4)

   alcohol  sugar    pH  class
2      9.8    2.3  3.26    0.0
3      9.8    1.9  3.16    0.0
4      9.4    1.9  3.51    0.0

In [18]:
df[ :3]  # 처음부터 3미만의 행

   alcohol  sugar    pH  class
0      9.4    1.9  3.51    0.0
1      9.8    2.6  3.20    0.0
2      9.8    2.3  3.26    0.0

In [19]:
df[6491: ]

      alcohol  sugar    pH  class
6491      9.7    1.3  3.29    1.0
6492     11.2    1.6  3.27    1.0
6493      9.6    8.0  3.15    1.0
6494      9.4    1.2  2.99    1.0
6495     12.8    1.1  3.34    1.0
6496     11.8    0.8  3.26    1.0

In [24]:
# 방법 1: 데이터프레임 이름[['열 제목' ]]

print(type(df['sugar']))  # Series 형태
df['sugar']

<class 'pandas.core.series.Series'>

0       1.9
1       2.6
2       2.3
3       1.9
4       1.9
       ...
6492    1.6
6493    8.0
6494    1.2
6495    1.1
6496    0.8
Name: sugar, Length: 6497, dtype: float64

In [23]:
print(type(df))
df[['sugar']]

<class 'pandas.core.frame.DataFrame'>

      sugar
0       1.9
1       2.6
2       2.3
3       1.9
4       1.9
...     ...
6492    1.6
6493    8.0
6494    1.2
6495    1.1
6496    0.8

[6497 rows x 1 columns]

In [36]:
# 방법 2: df[df.columns[[열 번호]]]
df.columns  # 열에 뭐있는지 인덱스순으로 나옴
df.columns[[0,1,2]]  # 리스트를 전달

Index(['alcohol', 'sugar', 'pH'], dtype='object')

In [39]:
df[df.columns[[0,1,2]]]

      alcohol  sugar    pH
0         9.4    1.9  3.51
1         9.8    2.6  3.20
2         9.8    2.3  3.26
3         9.8    1.9  3.16
4         9.4    1.9  3.51
...       ...    ...   ...
6492     11.2    1.6  3.27
6493      9.6    8.0  3.15
6494      9.4    1.2  2.99
6495     12.8    1.1  3.34
6496     11.8    0.8  3.26

[6497 rows x 3 columns]

In [41]:
# 방법 3 : df.loc[:, 첫 열 이름 : 끝 열 이름]  #  loc[전체 행, 특정 열]

df.loc[:, 'sugar':'pH']

      sugar    pH
0       1.9  3.51
1       2.6  3.20
2       2.3  3.26
3       1.9  3.16
4       1.9  3.51
...     ...   ...
6492    1.6  3.27
6493    8.0  3.15
6494    1.2  2.99
6495    1.1  3.34
6496    0.8  3.26

[6497 rows x 2 columns]

In [42]:
# iloc 메서드 <---- i : integer (정수)
#  df.iloc[:, 첫 열 이index: 끝 열 index] 

df.iloc[2:5, 1:3]

   sugar    pH
2    2.3  3.26
3    1.9  3.16
4    1.9  3.51

In [46]:
# at 메서드 (전치사: ~~에)
# 특정 행 특정 열에 접ㅂ근
# df.at[행인덱스, 열 이름]

df.at[2,'pH']

3.26

In [49]:
df.at[4, 'sugar']

1.9

In [54]:
# 데이터 변화: 1. 복사
# df.copy()

df2 = df.copy()
df2

      alcohol  sugar    pH  class
0         9.4    1.9  3.51    0.0
1         9.8    2.6  3.20    0.0
2         9.8    2.3  3.26    0.0
3         9.8    1.9  3.16    0.0
4         9.4    1.9  3.51    0.0
...       ...    ...   ...    ...
6492     11.2    1.6  3.27    1.0
6493      9.6    8.0  3.15    1.0
6494      9.4    1.2  2.99    1.0
6495     12.8    1.1  3.34    1.0
6496     11.8    0.8  3.26    1.0

[6497 rows x 4 columns]

In [55]:
df3 = df

df3

      alcohol  sugar    pH  class
0         9.4    1.9  3.51    0.0
1         9.8    2.6  3.20    0.0
2         9.8    2.3  3.26    0.0
3         9.8    1.9  3.16    0.0
4         9.4    1.9  3.51    0.0
...       ...    ...   ...    ...
6492     11.2    1.6  3.27    1.0
6493      9.6    8.0  3.15    1.0
6494      9.4    1.2  2.99    1.0
6495     12.8    1.1  3.34    1.0
6496     11.8    0.8  3.26    1.0

[6497 rows x 4 columns]

In [62]:
# df  <--  원본 데이터프레임
# df2 = df.copy()   <---- 원본 데이터를 보존!!!
# df3 = df

In [58]:
df['alcohol'] = 'DMU'
df

     alcohol  sugar    pH  class
0        DMU    1.9  3.51    0.0
1        DMU    2.6  3.20    0.0
2        DMU    2.3  3.26    0.0
3        DMU    1.9  3.16    0.0
4        DMU    1.9  3.51    0.0
...      ...    ...   ...    ...
6492     DMU    1.6  3.27    1.0
6493     DMU    8.0  3.15    1.0
6494     DMU    1.2  2.99    1.0
6495     DMU    1.1  3.34    1.0
6496     DMU    0.8  3.26    1.0

[6497 rows x 4 columns]

In [60]:
df2.head()

   alcohol  sugar    pH  class
0      9.4    1.9  3.51    0.0
1      9.8    2.6  3.20    0.0
2      9.8    2.3  3.26    0.0
3      9.8    1.9  3.16    0.0
4      9.4    1.9  3.51    0.0

In [61]:
df3.head()  #

  alcohol  sugar    pH  class
0     DMU    1.9  3.51    0.0
1     DMU    2.6  3.20    0.0
2     DMU    2.3  3.26    0.0
3     DMU    1.9  3.16    0.0
4     DMU    1.9  3.51    0.0

In [63]:
df.columns

Index(['alcohol', 'sugar', 'pH', 'class'], dtype='object')

In [65]:
# Re name
# rename은 중괄호 !!!
# inplace매게변수가 True면 바로 변수 값에 적용

df2.rename(columns={'sugar':'salt'},inplace=True)  # in place (제자리에 (있는))
df2.columns

Index(['alcohol', 'salt', 'pH', 'class'], dtype='object')

In [67]:
df3.head()

  alcohol  sugar    pH  class
0     DMU    1.9  3.51    0.0
1     DMU    2.6  3.20    0.0
2     DMU    2.3  3.26    0.0
3     DMU    1.9  3.16    0.0
4     DMU    1.9  3.51    0.0

In [75]:
df3.rename(columns={'sugar':'salt'}, inplace=True)

In [76]:
df3.head()

  alcohol  salt    pH  class
0     DMU   1.9  3.51    0.0
1     DMU   2.6  3.20    0.0
2     DMU   2.3  3.26    0.0
3     DMU   1.9  3.16    0.0
4     DMU   1.9  3.51    0.0

In [ ]:
# 새로운 열을 추가하는 방법

In [77]:
df2.head()

   alcohol  salt    pH  class
0      9.4   1.9  3.51    0.0
1      9.8   2.6  3.20    0.0
2      9.8   2.3  3.26    0.0
3      9.8   1.9  3.16    0.0
4      9.4   1.9  3.51    0.0

In [80]:
df2['sum'] = df2['alcohol'] + df2['salt'] + df2['pH']
df2.head()

   alcohol  salt    pH  class    sum
0      9.4   1.9  3.51    0.0  14.81
1      9.8   2.6  3.20    0.0  15.60
2      9.8   2.3  3.26    0.0  15.36
3      9.8   1.9  3.16    0.0  14.86
4      9.4   1.9  3.51    0.0  14.81

In [81]:
# 열 삭제하는 방법

del df2['sum']
df2.head()

   alcohol  salt    pH  class
0      9.4   1.9  3.51    0.0
1      9.8   2.6  3.20    0.0
2      9.8   2.3  3.26    0.0
3      9.8   1.9  3.16    0.0
4      9.4   1.9  3.51    0.0

In [84]:
# pH가 3.8 크거나 같은 데이터들만 추출하겠습니다!

# df2['pH'] >= 3.8
df_high_ph_wine = df2[df2['pH'] >= 3.8]
df_high_ph_wine

      alcohol  salt    pH  class
45       13.1  2.10  3.90    0.0
95       12.9  2.30  3.85    0.0
695      12.8  1.30  3.90    0.0
1316     12.5  1.20  4.01    0.0
1321     12.5  1.20  4.01    0.0
2849     10.5  5.15  3.82    1.0
2854     10.3  1.80  3.81    1.0
3635     10.2  1.20  3.80    1.0
4370     10.8  1.70  3.80    1.0

In [86]:
# & 하나로 논리  and
# | 하나로 논리 OR
df_high_ph_red_wine = df2[((df2['pH'] >= 3.8) & (df2['class'] == 0))]
df_high_ph_red_wine

      alcohol  salt    pH  class
45       13.1   2.1  3.90    0.0
95       12.9   2.3  3.85    0.0
695      12.8   1.3  3.90    0.0
1316     12.5   1.2  4.01    0.0
1321     12.5   1.2  4.01    0.0

In [87]:
df2['class'].value_counts()  # 0, 1 --> 개수

1.0    4898
0.0    1599
Name: class, dtype: int64

In [89]:
# 알코올 도수가 10.4 이상인 화이트 와인 데이터 --> class 2

df2['class'][(df2['class'] == 1) & (df2['alcohol'] >= 10.4)] = 2.0

df2['class'].value_counts()

2.0    2478
1.0    2420
0.0    1599
Name: class, dtype: int64

In [92]:
# replace() 메서드  replace <--- 대체하다, 바꾸다, 교체하다
# 값을 정해서 바꾸는 메서드

re_class = {'class': {0.0: 0.0,
                    1.0: 1.0,
                    2.0: 1.0}}
    
df2_re = df2.replace(re_class)
df2_re['class'].value_counts()

1.0    4898
0.0    1599
Name: class, dtype: int64

In [100]:
# 데이터 변경 2번째 방법: 사용자 정의 함수 & apply()

# define (정의하다)
def class_groups(val):   
    if (val == 0.0):
        return 0.0
    elif (val == 1.0):  # 클래스가 1 일때
        return 1.0
    elif (val == 2.0):   # 클래스가 2일때
        return 1.0

# apply (지원하다, 신청하다, 적용하다)
df2['class'] = df2['class'].apply(class_groups)

df2['class'].value_counts()

1.0    4898
0.0    1599
Name: class, dtype: int64

In [102]:
# pandas --> numpy  :  to_numpy()
# numpy --> pandas  :  

# numpy 라이브러리  --> 연산 속도를 빠르게 하겠다!
# pandas --> 데이터 분석에 초점이 맞춰져 있음!
# info, describe

# pandas --> 데이터를 분석, 처리 --> numpy 배열 -->  머신러닝, 딥러닝 학습/평가

In [103]:
print(type(df2))

<class 'pandas.core.frame.DataFrame'>

In [105]:
wine_numpy = df2.to_numpy()
wine_numpy

array([[ 9.4 ,  1.9 ,  3.51,  0.  ],
       [ 9.8 ,  2.6 ,  3.2 ,  0.  ],
       [ 9.8 ,  2.3 ,  3.26,  0.  ],
       ...,
       [ 9.4 ,  1.2 ,  2.99,  1.  ],
       [12.8 ,  1.1 ,  3.34,  1.  ],
       [11.8 ,  0.8 ,  3.26,  1.  ]])

In [106]:
print(type(wine_numpy))  # N-dimensional array

<class 'numpy.ndarray'>

In [107]:
# numpy 배열 --> pandas DaataFrame

df4 = pd.DataFrame(wine_numpy) 
df4.head()
# 열부분은 단순히 그냥 인덱스로 처리됨

     0    1     2    3
0  9.4  1.9  3.51  0.0
1  9.8  2.6  3.20  0.0
2  9.8  2.3  3.26  0.0
3  9.8  1.9  3.16  0.0
4  9.4  1.9  3.51  0.0

In [108]:
df5 = pd.DataFrame(wine_numpy, columns=['alcohol', 'sugar','pH','class'])
df5.head()
# 열에 이름이 적용되어짐

   alcohol  sugar    pH  class
0      9.4    1.9  3.51    0.0
1      9.8    2.6  3.20    0.0
2      9.8    2.3  3.26    0.0
3      9.8    1.9  3.16    0.0
4      9.4    1.9  3.51    0.0